/**
 * openHAB Paper UI Theme
 */

/* Layout */

body {
  font-size: 16px;
  --header-color: #c13a32;
  --highlight-color: #00aadd;
  --background-color: #f9f9f9;
  --secondary-text-color: #4e5d42;
}

header {
	background-color: var(--header-color);
}

header h1 {
	color: white;
	font-weight: 400;
	text-transform: uppercase;
}

.section-header {
	background-color: var(--header-color);
	box-shadow: unset;
}

nav.menu {
	border-right: unset;
}

nav.menu .top {
	border-bottom: unset;
	box-shadow: unset;
}

nav.menu .top #logo {
	width: 145px;
	display: block;
	left: 15px;
	right: 15px;
	top: 20px;
	margin: 0 auto;
	position: absolute;
}

@media only screen and (max-width: 1120px) {
	nav.menu .top #logo {
		top: 10px;
	}
}

nav.menu .top .title {
  display: none;
}

/* Tabs */

md-tabs md-tabs-wrapper {
	background-color: var(--header-color);
	box-shadow: unset;
}

md-tabs.md-default-theme .md-header {
	background-color: var(--header-color);
}

md-tabs.md-default-theme .md-tab {
	color: #DDD;
	font-size: 16px;
	font-weight: 400;
}

md-tabs md-tabs-wrapper.md-stretch-tabs md-pagination-wrapper md-tab-item {
	flex-grow: 0;
    margin-left: 0.6rem;
}

md-tabs md-ink-bar {
	display: none;
}

md-tabs .md-tab.md-active {
	color: var(--header-color);
	background-color: var(--background-color);
	border-radius: 0.3rem 0.3rem 0 0;
}

.white-bg {
	box-shadow: unset;
}

/* Cards */

.items .card {
	box-shadow: unset;
	border: 1px solid #d4d4d4;
	border-radius: unset;
	color: var(--secondary-text-color);
}

/* Fab */

.section-header .toolbar .md-fab {
	background-color: var(--highlight-color) !important;
}

.md-fab, .md-fab:active, .md-fab:focus, .md-fab:hover {
	background-color: var(--highlight-color) !important;
}

.md-button.md-fab:not([disabled]) {
	-webkit-box-shadow: unset;
	box-shadow: unset;
}

/* Radio Button */

md-radio-button.md-default-theme .md-on, md-switch.md-default .md-switch-thumb .md-on{
	background-color: var(--highlight-color);
}

md-radio-button.md-default-theme.md-checked .md-off, md-switch.md-default .md-switch-thumb.md-checked .md-off {
	border-color: #CCC;
}

md-radio-button.md-default-theme.md-checked .md-ink-ripple, md-switch.md-default .md-switch-thumb.md-checked .md-ink-ripple {
	color: var(--highlight-color);
}

/* Button */

.md-button.md-default-theme.md-primary {
  color: var(--highlight-color);
}

/* Checkbox */

md-checkbox.md-default-theme.md-checked .md-icon {
	background-color: var(--highlight-color);
}

/* Switch */

md-switch.md-default-theme.md-checked .md-thumb {
	background-color: var(--highlight-color);
}


/* Slider */

md-slider.md-default-theme .md-track.md-track-fill {
	background-color: var(--highlight-color);
}

md-slider.md-default-theme .md-thumb:after {
	border-color: var(--highlight-color);
	background-color: var(--highlight-color);
}

md-slider.md-default-theme .md-sign {
	background-color: var(--highlight-color);
}

md-slider.md-default-theme .md-sign:after {
	border-top-color: var(--highlight-color);
}


/* Color Slider */

md-slider.md-default-theme.hue .md-track-fill {
	background: transparent;
}

md-slider.md-default-theme.hue .md-thumb:after {
	border-color: var(--highlight-color);
}

/* Progress Indicator */

md-progress-circular.md-default-theme .md-inner .md-right .md-half-circle {
	border-right-color: var(--highlight-color);
}

md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle, 
md-progress-circular.md-default-theme .md-inner .md-right .md-half-circle {
	border-top-color: var(--highlight-color);
}

md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle {
	border-left-color: var(--highlight-color);
}

/* Input */

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input {
	border-color: var(--highlight-color);
}

md-input-group.md-default-theme.md-input-focused input, md-input-group.md-default-theme.md-input-focused textarea {
	border-color: var(--highlight-color);
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label {
	color: var(--highlight-color);
}

md-select.md-default-theme:not([disabled]):focus .md-select-label {
  border-bottom-color: var(--highlight-color);
}

md-select-menu md-option[selected],
md-select-menu md-option[selected]:focus {
  color: var(--highlight-color);
}

md-select:focus .md-select-value {
  border-bottom-color: var(--highlight-color) !important;
}

/* Item Icons */

.items .item p[class^="icon-"]:before, 
.items .item p[class*=" icon-"]:before, 
.items .item p[class^="md-icon-"]:before, 
.items .item p[class*=" md-icon-"]:before, 
.items .item p[class^="home-icon-"]:before, 
.items .item p[class*=" home-icon-"]:before {
	color: #6b6b6b;
	background-color: transparent;
	font-size: 22px;
	vertical-align: middle;
}

/* Extensions */

.fab-item .circle.green {
    background-color: var(--highlight-color);
    color: white;
}
